.todo-item-container, .todo-list-container {
  border-radius: 10px;
}

.completed-todo {
  text-decoration: line-through;
}

.container {
  position: relative;
}

.todo-list-container {
  height: 82vh;
  overflow: auto;
}

.add-button {
  position: absolute;
  bottom: 30px;
  right: 45px;
}
