.todo-item-container, .todo-list-container {
  border-radius: 10px;
}

.completed-todo {
  text-decoration: line-through;
}

.container {
  position: relative;
}

.todo-list-container {
  height: 82vh;
  overflow: auto;
}

.add-button {
  position: absolute;
  bottom: 30px;
  right: 45px;
}

@media (max-width: 500px) {
  .container {
    padding: 0;
    height: 100%;
  }

  .todo-list-container {
    border-radius: 0;
    height: 100%;
  }

}
