<div class="p-3">
  <h3 class="mb-4 text-primary">
    Create To-Do
  </h3>
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()" class="d-flex flex-column align-items-stretch  gap-2">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input id="title" matInput formControlName="title">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select id="priority" formControlName="priority">
          <mat-option value="High">High</mat-option>
          <mat-option value="Medium">Medium</mat-option>
          <mat-option value="Low">Low</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" id="dueDate" formControlName="dueDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button matButton="elevated" type="submit" class="mt-2 text-bg-primary">
        Submit
      </button>
    </form>
</div>
